* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.introducao { margin-top: 400px; text-align: center; font-size: 45px; color: #0e073f; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    color: #0e073f;
    text-align: left;
}

.container .imagem img {
    width: 500px;
    height: auto;
}

.texto {
    max-width: 600px;
}

.container h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0e073f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table{
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid white;
    text-align: center;
}



